:root{
    --white-color:white;
}
*{
    margin: 0;
    padding: 0;
}
#services{
    background-image: url('../img/bg2.jfif');
    background-position: center center;
    background-size: contain;
}
form {
    background-image: url('../img/bg2.jfif');
    background-position: center center;
    background-size: contain;   
}
form .container {
    background-color:#000000a6;
   
}
.arabic{
    font-family: 'Cairo', sans-serif;
    width: 100%;
    height: 100%;
    direction: rtl;
}
.english{
    width: 100%;
    height: 100%;
    direction: ltr;
}

#top-color{
    height: 10px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: blanchedalmond;
}
.header-content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-link{
    color: white ;
}
.nav-link:hover{
    color: white !important;
}
.nav-link:active{
    color: white !important;
}
.dropdown-item {
    color: white !important;
}
.header-content img{
    height: 0;
}
body{
    background-color: rgb(0, 0, 0);
}
#home {
    height: 100vh;
}
#home div{
    height: 90%;
}
#home a{
    color: var(--white-color);
    text-decoration: none;
}

.nav-item  {
    font-size: 16px;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.3s;
    letter-spacing: 0.4px;
    padding: 15px;
    text-transform: uppercase;
    position: relative;
}
.nav-item .nav-linkk {
color: white;
font-size: 16px;
font-weight: 600;
white-space: nowrap;
transition: 0.3s;
padding: 10px;
letter-spacing: 0.4px;
text-decoration: none;
}
.res-div .dropdown-item {
    color: rgb(3, 3, 3) !important;
}
.header-content{
    text-align: center;
  font-size: 2rem;
  padding-top: 40px;
}
.fixed-nav{
    position: fixed;
    display: flex;
    z-index: 11111;
}
.header-content p{
    color: #c7c7c7;
}
.p-ele{
    display: flex;
}
.element{

    font-weight: 100 !important;
        color: #ff3600;
        font-size: 38px;
        letter-spacing: 5pt;
        direction: ltr !important;
    font-family:  'Poppins', sans-serif;
    }
    #slogn{
        font-weight: 100 !important;
        font-size: 40pt;
        direction: ltr !important;
        text-transform: uppercase;
    font-family:  'Poppins', sans-serif;
        display: none;
        color: #ffffff;
        letter-spacing: 10pt;
    }
    #slogn span{
        color: #ff3600;
    }
.arabic .p-ele{
    direction: ltr !important;
}

.animatited-container{
    width: 100%;
}
.btn-green{
    background-color:#ff3600; 
    
    color: rgb(168, 168, 168);

}
.conacts-arabic{
    position: fixed;
    z-index: 1111111111;
    top: 40%;
    right: 0;
    display: flex;
    flex-direction: column;
    color:#ff3600 ;
    padding: 2px;

}
.conacts-arabic i{
    padding: 11px;
     background-color: #474747a8;
     border-radius: 30px;
     font-size: 20px;
     margin-bottom: 20px;
 }
.conacts-english{
    position: fixed;
    z-index: 1111111111;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    color:#ff3600 ;
    padding: 2px;

}
.conacts-english .fa-brands{
   padding: 11px;
   color:#ff3600 ;
    background-color: #474747a8;
    border-radius: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}
.card{

    background-color:#000000a6;
    padding: 20px;

}
.card div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card div h3{
    color: #ffffff;
    font-size: 20px;
    padding: 10px 10px;
}
.footer ul li{
    list-style: none;
    color: #ff3600;
}
.footer a{
    color: #c7c7c7;
    text-decoration: none;
}
.footerlink a{
    color: #c7c7c7;
    text-decoration: none;
    padding: 2px;
}
.footer {
display: flex;
justify-content: center;
flex-direction: column;
}

.services{
    padding-top: 100px;
background-color: #241c1ade;
    padding-bottom: 100px;
}


.footer-eng h5::after{
    content: '';
    width: 50px;
    bottom: 0px;
    height: 2px;
     top:31px ;
    text-align: center;
    background: #ff3600;
    position: absolute;
    left: 5px;
    transition: width 1s;

}

.footer-arb h5::after{
    content: '';
    width: 50px;
    bottom: 0px;
    height: 2px;
     top:27px ;
    text-align: center;
    background: #ff3600;
    position: absolute;
    right: 5px;
    margin-bottom: 10px;
    transition: width 1s;

}

.footer-eng:hover::after {
 
    width: 100px;

}
.footer-arb:hover::after {
 
    width: 100px;

}
.footer-arb h5 {
    position: relative;
}

.contact-us  {
display: flex;
flex-direction: column;
}
.contact-us div i {
color: #ff3600;
    }
.contact-us i{
    font-size: 15px;
    padding: 3px;
}
.dropdownn i{
    font-size: 30px;
    color: #ff3600;
    
}
.dropdownn{
display: none;
}
#t .t-caret{
    display: none;
}
.box{

    transform: translate(-50%,-50%);
    position: absolute;
    width: calc(154px / 2);
    height: 109px;
    top: 10px;
    display: inline-flex;
    background-image: url('../img/sprite\ sheet.jpg');
    animation: animate  1s steps(2) infinite,
    forward 5s linear infinite
        }
        .second-footer{
            display: flex;
justify-content: center;
        }
        .second-footer div {
            padding: 20px;
        }
        .footer-eng h5{
            position: relative;
        }
        .footer-eng h5::after:hover{
            width: 100%;
        }

        .second-footer div ul {
            padding-left: 0px;
list-style: none;        }
.second-footer div ul li {
width: 100%;
}
.second-footer div h5{
    color: white;
}
footer {
    color: white;
}
        .contactus {
            display: flex;
            flex-direction: column;
        }
        .text-gray{
            color: gray !important;
        }
        @keyframes animate {
            from{
                background-position: 0;
            }
            to{
                background-position: 100% ;
            }
        }
        @keyframes forward {
            from{
             transform:translatex(-100%) ;
            }
            to{
                transform:translatex(100%) ;            }

        }
        #t-block{display: none;}
        .second-footer div i{
            color: #ff3600;
            }

            .contactus span i{
                color: #ff3600;

            }
            #profile{
                padding-top: 20px;
                padding-bottom: 20px;
            }
            #profile .row{
                padding-top: 20px;
                padding-bottom: 20px;
                
            }
            #profile .row button {
            background-color:  #ff3600;;
            width: 100px;
                
            }
            .more{
                background-color:  #ff3600;
color: aliceblue;
                }
            #profile .row h3{
            color: white;
            }
            #profile .row h3 i{
                color: #ff3600;
                }
            #profile .row div img{
            border-radius:71px;
            
            }
            
            #profile .row .d-flex{
                flex-direction: column;
                justify-content: center;
                 }

                 .nav-link {color: white;}


                 .res-div{
                    display: none;
                  }
                  .not-hover-dark:hover{
                    background-color: #212529 !important;
                              }
                  .not-hover-dark:active{
        background-color: #212529 !important;
                  }

                  .p-padding {

                    padding: 0 40px;
                }
                  .p-padding p{
                    color: rgb(183, 183, 183);
font-size: 15px;    
font-weight: 500;            
  }
form{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

}
form .container{
    border-radius: 20px !important;
    padding: 30px;
    color: #ffffff;
}

.form-control {
    background-color: #ffffff54;
    border: none !important;

}

.btn-bg-orange-submit{
    width: 30%;
    background-color: #ff3600;
    border: none;
    padding: 10px;
    border-radius: 15px;
}

textarea {
    resize: none;
}

form .input-data{
padding: 4px;
}


.contactus span a{
    text-decoration: none;
    color: #c7c7c7;
}
.input-data{
    width: 80%;
    
}
.typed-cursor.typed-cursor--blink{
    color: #ff3600;
}
@media screen and (max-width: 375px) {
    .p-padding {
        padding: 0 0px;
    }
}
@media screen and (max-width: 600px) {
    .element{

            font-size: 25px;
            letter-spacing: 3pt;

        }
        #slogn{
            font-size: 20pt;
            letter-spacing: 5pt;
        }
.arabic ,.english{
    padding: 10px;
}    #nav-bar{
        display: none;
    }
    .res-div{
        padding: 20px;
    
    }
    .dropdown-menu .nav-item a{
        padding: 10px;
        font-weight: 400;
    }
    .dropdown-menu .nav-item a:hover{
        color: #c7c7c7;
    font-weight: 600;
    }
    .res-div{    
        display: flex;
        position: fixed;
        justify-content: space-between;
        z-index: 111111111111111111111111111111111111 !important; }
    .dropdown-toggle::after {
        display: none !important;}

    .res-div .dropdown button i{
color: #ff3600;
font-size: 30px;
    }
    .res-div .dropdown button {
border: none;
            }
    .dropdownn {
        width: 100%;
        position: relative;
        display: flex;
      }
   
      .not-hover:active{
        
        background-color: white !important;
      }
      .dropdown-content {
        display: none;
        position: absolute;
        top: 30px;
        background-color: #ff6200;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 12px 16px;
        z-index: 1;
      }
      
      .dropdownn:hover .dropdown-content {
        display: flex;
        flex-direction: column;
      }
      #home {
        height: 80vh;
    }
    .conacts {
        top: 38%;
    }

.card{
    width: 80%;
    margin: auto;
    margin-bottom: 30px;

}
#profile .row div img{
    border-radius:21px;
    
    }
.second-footer{
    flex-direction: column;
    font-size: 15px;
}
.second-footer div{
padding: 0px;
}

.footerlink{
    display: flex;
}
.p-padding {
    padding: 0 0px;
}
.second-footer {
    font-size: 10px;
}
.first-footer P{
    height: 55PX;
    font-size: 12px;
    display: flex;
    align-items: center;
}
.first-footer div img {
    padding: 20px 10px 0px 10px;
}
.btn-bg-orange-submit {
    width: 47%;
    padding: 6px;
    border-radius: 6px;
}
.input-data{
 width: 90%;
    }
    footer{
        padding-top: 20px;
    }
}